{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--begin: Aside Container-->
    <div class="login login-2 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <!--begin::Aside-->
        <!--begin: Aside Container-->
        <div class="d-flex flex-column-fluid flex-column justify-content-between py-9 px-7 py-lg-13 px-lg-35">
            <!--begin::Logo-->
            <!--end::Logo-->
            <!--begin::Aside body-->
            <div class="d-flex flex-column-fluid flex-column flex-center">
                <!--begin::Signin-->
            <a href="#" class="text-center pt-2">
                <img src="/static/assets/dash-logo.webp" class="max-h-75px" alt="" />
            </a>
                <div class="login-form login-signin py-11">

                    <!--begin::Form-->
                    <form class="form" novalidate="novalidate" id="kt_login_signin_form">
                        <!--begin::Title-->
                        <div class="text-center pb-8">
                            <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Sign In</h2>
                        </div>
                        <!--end::Title-->
                        <!--begin::Form group-->
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">Phone</label>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="phone" name="username" autocomplete="on" required/>
                        </div>
                        <!--end::Form group-->
                        <!--begin::Form group-->
                        <div class="form-group">
                            <div class="d-flex justify-content-between mt-n5">
                                <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
                            </div>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password" name="password" autocomplete="off" required/>
                        </div>
                        <!--end::Form group-->
                        <!--begin::Action-->
                        <div class="text-center pt-2">
                            <button id="kt_login_signin_submit" class="btn btn-dark font-weight-bolder font-size-h6 px-8 py-4 my-3">Sign In</button>
                        </div>
                        <!--end::Action-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Signin-->
                <!--begin::Signup-->

                <!--end::Forgot-->
            </div>
            <!--end::Aside body-->
            <!--begin: Aside footer for desktop-->
            
            <!--end: Aside footer for desktop-->
        </div>
        <!--end: Aside Container-->
    </div>
    {% endblock %}
